@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.nav {
  height: 55px;
  background-color: #ffffff;
}

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 12px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 67%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu__item {
  border-bottom: 1px solid #aeaeae;
  text-decoration: none;
  display: inline-block;
  line-height: 0.95;
  color: #000000;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 14px;
}

.nav-menu__item:hover {
  font-family: 'Proxima Nova Bold', sans-serif;
}

.nav-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-phone__phone {
  color: #1f1f1f;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 7px;
}

.nav-phone__button {
  color: #22bac1;
  font-size: 14px;
  font-family: 'Proxima Nova Regular', sans-serif;
  border: none;
  background-color: #fff;
  padding: 0;
  border-bottom: 1px solid #22bac1;
  text-decoration: none;
  display: inline-block;
  line-height: 0.95;
  outline: none;
}

.nav-phone__button:hover {
  cursor: pointer;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.menu {
  background-color: #e8e8e8;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -100vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu_active {
  left: 0;
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__span {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Proxima Nova Regular', sans-serif;
  margin-top: 16px;
}

.menu__list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu__href {
  line-height: 4;
  letter-spacing: 4px;
  text-decoration: none;
  color: #000000;
}

.menu__href:hover {
  display: block;
  width: 100vw;
  background-color: #000000;
  color: #fff;
}

.menu-link {
  z-index: 9;
  display: block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  margin-top: 12px;
}

.menu-link span, .menu-link span:before, .menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
}

.menu-link span:before {
  content: '';
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: -6px;
}

.menu-link span:after {
  content: '';
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
}

.menu-link_active span {
  background-color: transparent;
}

.menu-link_active span:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 0;
}

.menu-link_active span:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 0;
}

.main {
  /* background: url('../img/main/main.png') no-repeat center */
  padding-top: 118px;
  padding-bottom: 74px;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages {
  width: 520px;
}

.advantages__title {
  margin: 0;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 35px;
  color: #fffafa;
}

.advantages__subtitle {
  margin: 0;
  font-size: 20px;
  margin-bottom: 57px;
  color: #fffafa;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-item__text {
  font-size: 15px;
  color: #fff;
  margin-bottom: 23px;
  max-width: 206px;
}

.advantages-item__text-1 {
  margin-bottom: 0px;
}

.advantages-item__img {
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* opacity: 0.2 */
  margin-right: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item__img-1 {
  background-image: url("../img/main/img-1.png");
  background-size: 10px;
}

.advantages-item__img-2 {
  background-image: url("../img/main/img-2.png");
  background-size: 16px;
}

.advantages-item__img-3 {
  background-image: url("../img/main/img-3.png");
  background-size: 17px;
}

.advantages-item__img-4 {
  background-image: url("../img/main/img-4.png");
  background-size: 19px;
}

.form {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 370px;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 13px;
}

.form__title {
  color: #000000;
  font-size: 18px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 28px;
}

.form__input {
  width: 260px;
  margin-bottom: 15px;
  padding-bottom: 17px;
  padding-top: 17px;
  text-align: center;
  border: 1px solid #e8e8e8;
  color: #7c7c7c;
  font-size: 13px;
  outline: none;
}

.form__button {
  margin-top: 5px;
  width: 260px;
  background-color: #23bac1;
  padding: 22px 57px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.form__button:hover {
  background-color: #3bd4dc;
  cursor: pointer;
}

.bold_text {
  font-family: 'Proxima Nova Bold', sans-serif;
}

.types {
  padding: 101px 0 32px 0;
}

.types__title {
  color: #000000;
  font-size: 36px;
  text-align: center;
  display: block;
  position: relative;
  font-family: 'Proxima Nova Regular', sans-serif;
  margin-bottom: 70px;
}

.types__title:after {
  content: '';
  width: 31px;
  height: 2px;
  background-color: #23bac1;
  position: absolute;
  bottom: 0;
  margin-bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.types__subtitle {
  margin: 0;
  font-size: 20px;
  margin-bottom: 79px;
  text-align: center;
}

.types-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  min-width: 370px;
  margin: 10px;
  min-height: 680px;
  text-align: center;
}

.card:hover {
  -webkit-box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
}

.card-wrap {
  height: 224px;
  margin-bottom: 35px;
}

.card__title {
  margin-top: 33px;
  margin-bottom: 24px;
  font-size: 20px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.card__img {
  margin-bottom: 35px;
  width: 300px;
  height: 220px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.card__img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.card__type {
  font-size: 16px;
  line-height: 35px;
  width: 235px;
  margin: auto;
  position: relative;
}

.card__type:after {
  content: '';
  width: 9px;
  height: 2px;
  background-color: #23bac1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card__type-1 {
  line-height: 21px;
}

.card__type-none:after {
  display: none;
}

.card__button {
  padding: 23px 28px;
  background-color: #fff;
  border: 1px solid rgba(174, 174, 174, 0.2);
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #000000;
}

.card__button:hover {
  cursor: pointer;
  background-color: #23bac1;
  color: #ffffff;
}

.projects {
  background-color: #e8e8e8;
  padding: 96px 0 99px 0;
}

.projects__title {
  margin: 0;
  color: #000000;
  font-size: 36px;
  font-family: 'Proxima Nova Regular', sans-serif;
  text-align: center;
  margin-bottom: 66px;
  position: relative;
}

.projects__title:after {
  content: '';
  width: 31px;
  height: 2px;
  background-color: #23bac1;
  position: absolute;
  bottom: 0;
  margin-bottom: -28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.projects__subtitle {
  margin: 0;
  font-size: 20px;
  color: #000000;
  margin-bottom: 98px;
  text-align: center;
}

.slide {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 340px;
  width: 902px;
  margin: auto;
}

.slide__img {
  width: 409px;
  height: 340px;
  margin-right: 87px;
}

.slide__title {
  margin: 0;
  font-size: 23px;
  font-family: 'Proxima Nova Regular', sans-serif;
  margin-bottom: 74px;
}

.slide__subtitle {
  font-size: 16px;
  margin-bottom: 80px;
  font-family: 'Proxima Nova Regular', sans-serif;
  position: relative;
}

.slide__subtitle:before {
  content: 'Описание:';
  position: absolute;
  margin-top: -24px;
  color: #7f7f7f;
  font-size: 12px;
}

.slide-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88%;
  margin-bottom: 63px;
}

.slide-parameter__item {
  font-size: 16px;
}

.slide-parameter__item:before {
  content: 'Масштаб:';
  position: absolute;
  margin-top: -24px;
  color: #7f7f7f;
  font-size: 12px;
}

.slide-parameter__item:nth-child(2):before {
  content: 'Размер:';
}

.slide-parameter__item:nth-child(3):before {
  content: 'Срок изготовления:';
}

.slide__button {
  width: 216px;
  background-color: #23bac1;
  padding: 23px 49px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
}

.slide__button:hover {
  background-color: #3bd4dc;
  cursor: pointer;
}

.slick-initialized, .slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  outline: none;
}

.arrow:hover {
  cursor: pointer;
}

.arrow_right {
  position: absolute;
  right: 0px;
  background: url("../img/projects/start_arrow.png") no-repeat center;
  width: 14px;
  height: 26px;
  bottom: 50%;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.arrow_left {
  position: absolute;
  left: 0px;
  background: url("../img/projects/back-arrow.png") no-repeat center;
  width: 14px;
  height: 26px;
  bottom: 50%;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.goal {
  background: url("../img/main/main.jpg") no-repeat center;
  color: #ffffff;
  text-align: center;
  padding-top: 108px;
}

.goal__title {
  font-size: 24px;
  font-family: 'Proxima Nova Regular', sans-serif;
  line-height: 31px;
  /* max-width: 675px */
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
}

.goal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal__item {
  margin-bottom: 87px;
}

.goal__text {
  width: 243px;
  height: 53px;
  font-size: 15px;
  line-height: 20px;
}

.goal__img {
  width: 48px;
  height: 48px;
  margin-bottom: 34px;
}

.clients {
  padding: 100px 0 178px 0;
}

.clients__title {
  margin: 0;
  color: #000000;
  font-size: 24px;
  font-family: 'Proxima Nova Regular', sans-serif;
  text-align: center;
  margin-bottom: 100px;
}

.clients__slider {
  width: 1000px;
  margin: auto;
}

.clients__item {
  height: 67px !important;
}

.clients__img {
  text-align: center;
  margin: auto;
}

.arrow:hover {
  cursor: pointer;
}

.arrow_right-1 {
  position: absolute;
  right: -85px;
  background: url("../img/projects/start_arrow.png") no-repeat center;
  width: 14px;
  height: 26px;
  bottom: 40%;
}

.arrow_left-1 {
  position: absolute;
  left: -85px;
  background: url("../img/projects/back-arrow.png") no-repeat center;
  width: 14px;
  height: 26px;
  bottom: 40%;
}

.footer {
  background-color: #191919;
  background-position: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 146px;
}

.contacts__adress {
  color: #ffffff;
  font-size: 13px;
}

.contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts-phone__phone {
  color: #ffffff;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 7px;
}

.contacts-phone__button {
  color: #22bac1;
  font-size: 14px;
  font-family: 'Proxima Nova Regular', sans-serif;
  border: none;
  background-color: transparent;
  padding: 0;
  border-bottom: 1px solid #22bac1;
  text-decoration: none;
  display: inline-block;
  line-height: 0.95;
  outline: none;
}

.contacts-phone__button:hover {
  cursor: pointer;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 16px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.42);
  left: 0;
  top: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_hidden {
  display: none;
}

.modal_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__dialog {
  width: 900px;
  height: 500px;
  background-color: #e8e8e8;
  margin: auto;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
}

.modal__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 24px;
}

.modal__ul {
  padding-left: 20px;
}

.modal__li {
  margin-bottom: 15px;
}

.form1 {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 350px;
  height: 420px;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form1__title {
  color: #000000;
  font-size: 18px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 28px;
}

.form1__input {
  width: 260px;
  margin-bottom: 15px;
  padding-bottom: 17px;
  padding-top: 17px;
  text-align: center;
  border: 1px solid #e8e8e8;
  color: #7c7c7c;
  font-size: 13px;
  outline: none;
}

.form1__button {
  margin-top: 5px;
  width: 260px;
  background-color: #23bac1;
  padding: 22px 57px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.form1__button:hover {
  background-color: #3bd4dc;
  cursor: pointer;
}

.bold_text {
  font-family: 'Proxima Nova Bold', sans-serif;
}

.modal-form {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.42);
  left: 0;
  top: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form_hidden {
  display: none;
}

.modal-form_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form__dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 400px;
  background-color: #e8e8e8;
  margin: auto;
  position: relative;
}

.modal-form__close1 {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-form__close1:hover {
  cursor: pointer;
}

.modal-form__title {
  margin: 0;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 24px;
  position: relative;
}

.modal-form__title:after {
  content: '';
  width: 25%;
  height: 2px;
  background-color: #23bac1;
  position: absolute;
  bottom: 0;
  margin-bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-form__subtitle {
  margin: 0;
  margin-top: 40px;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
}

.container {
  width: 1171px;
  margin: 0 auto;
}

/* .container-bcg
  width: 1920px
  margin: 0 auto */
.next_line {
  display: block;
}

header {
  background: url("../img/main/main.jpg") no-repeat center;
}

@media (max-width: 3000px) {
  .menu-mob {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
  .clients__slider {
    width: 90%;
  }
  .arrow_right-1 {
    right: -20px;
  }
  .arrow_left-1 {
    left: -20px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  .menu-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hidden-xs {
    display: none;
  }
  .nav {
    background-color: transparent;
  }
  .nav-phone__phone {
    color: #fff;
  }
  .nav-phone__button {
    background-color: transparent;
  }
  .advantages__title {
    font-size: 36px;
    line-height: 50px;
  }
  .form__input {
    width: 200px;
  }
  .form__button {
    width: 200px;
    padding: 20px;
  }
  .types {
    padding: 70px 0 32px 0;
  }
  .types__title {
    font-size: 36px;
    margin-bottom: 70px;
  }
  .types__subtitle {
    margin-bottom: 30px;
  }
  .goal {
    background: url("../img/main/main.jpg") no-repeat center;
    height: 110%;
    background-size: cover;
    padding-top: 50px;
  }
  .goal__item {
    margin-bottom: 40px;
  }
  .goal__img {
    margin-bottom: 20px;
  }
  .projects {
    padding: 50px 0 50px 0;
  }
  .projects__title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .projects__title:after {
    margin-bottom: -25px;
  }
  .projects__subtitle {
    margin-bottom: 50px;
  }
  .slide {
    height: 300px;
    width: 90%;
    text-align: center;
  }
  .slide__title {
    font-size: 22px;
    margin-bottom: 50px;
    text-align: center;
  }
  .slide-align {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide__img {
    width: 350px;
    height: 270px;
    margin: auto;
    margin-bottom: 25px;
  }
  .slide-parameter {
    margin-bottom: 35px;
    width: 70%;
  }
  .slide__button {
    margin: auto;
  }
  .slick-initialized, .slick-slide {
    display: block !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .clients {
    padding: 70px 0 108px 0;
  }
  .clients__slider {
    width: 90%;
  }
  .clients__item {
    height: 70px !important;
  }
  .clients__img {
    height: 70%;
    margin: auto !important;
  }
  .arrow_right-1 {
    right: -20px;
  }
  .arrow_left-1 {
    left: -20px;
  }
  .form1 {
    width: 300px;
  }
  .form1__input {
    width: 200px;
  }
  .modal__dialog {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .nav-phone__button {
    width: 175px;
  }
  .main {
    padding-top: 37px;
    padding-bottom: 20px;
  }
  .main-wrap {
    display: block;
  }
  .advantages {
    width: 300px;
    margin: auto;
  }
  .advantages__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .advantages__subtitle {
    margin-bottom: 30px;
  }
  .form {
    margin: auto;
    margin-top: 30px;
    width: 280px;
  }
  .form__title {
    font-size: 16px;
  }
  .form__input {
    width: 180px;
  }
  .form__button {
    width: 180px;
  }
  header {
    background: url("../img/main/main.jpg") no-repeat top;
    background-size: 1360px;
  }
  .types {
    padding: 50px 0 32px 0;
  }
  .types__title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .types__subtitle {
    margin-bottom: 25px;
    font-size: 18px;
  }
  .goal__title {
    font-size: 20px;
    line-height: 25px;
  }
  .next {
    display: none;
  }
  .modal-wrap {
    display: block;
  }
  .modal__dialog {
    width: 80%;
    height: 100%;
    overflow: auto;
  }
  .modal__list {
    margin: auto;
  }
  .form1 {
    margin: auto;
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .nav-phone__phone {
    font-size: 15px;
  }
  .nav-phone__button {
    font-size: 12px;
    width: 150px;
  }
  .advantages__title {
    line-height: 36px;
  }
  header {
    background: url("../img/main/main.jpg") no-repeat top;
    background-size: 1280px;
  }
  .types {
    padding: 10px 0 32px 0;
  }
  .types__title {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .types__subtitle {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .card {
    min-width: 270px;
    min-height: 640px;
  }
  .card__img {
    width: 260px;
    height: 180px;
  }
  .card__title {
    font-size: 18px;
  }
  .goal {
    margin: auto;
  }
  .goal__title {
    margin-bottom: 50px;
  }
  .goal-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts {
    display: block;
    text-align: center;
  }
  .contacts__adress {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contacts-phone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects {
    padding: 50px 0 50px 0;
  }
  .projects__title {
    font-size: 26px;
  }
  .projects__subtitle {
    font-size: 18px;
  }
  .slide {
    width: 70%;
  }
  .slide__title {
    font-size: 20px;
  }
  .slide__subtitle {
    margin-bottom: 50px;
  }
  .slide__img {
    width: 250px;
    height: 180px;
    margin: auto;
    margin-bottom: 25px;
  }
  .slide-parameter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 35px;
    width: 60%;
  }
  .slide-parameter__item {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .slide-parameter__item:before {
    content: 'Масштаб:';
    position: absolute;
    margin-top: -15px;
  }
  .slide-parameter__item:nth-child(2):before {
    content: 'Размер:';
  }
  .slide-parameter__item:nth-child(3):before {
    content: 'Срок изготовления:';
  }
  .arrow_right {
    right: -10px;
    bottom: 60%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .arrow_left {
    left: -10px;
    bottom: 60%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .modal-wrap {
    padding: 40px 5px;
  }
  .modal__dialog {
    width: 90%;
  }
  .modal__title {
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 18px;
    text-align: center;
  }
  br {
    display: none;
  }
  br__list {
    margin: auto;
  }
  .form1 {
    width: 250px;
    margin: auto;
    margin-top: 30px;
  }
  .form1__title {
    font-size: 16px;
  }
  .menu__href {
    line-height: 3;
    letter-spacing: 3px;
  }
  .modal-form__dialog {
    width: 290px;
    height: 290px;
  }
  .modal-form__title {
    font-size: 20px;
  }
  .modal-form__subtitle {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */