@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.nav {
  height: 55px;
  background-color: #ffffff;
}

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 12px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 67%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu__item {
  border-bottom: 1px solid #aeaeae;
  text-decoration: none;
  display: inline-block;
  line-height: 0.95;
  color: #000000;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 14px;
}

.nav-menu__item:hover {
  font-family: 'Proxima Nova Bold', sans-serif;
}

.nav-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-phone__phone {
  color: #1f1f1f;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 7px;
}

.nav-phone__button {
  color: #22bac1;
  font-size: 14px;
  font-family: 'Proxima Nova Regular', sans-serif;
  border: none;
  background-color: #fff;
  padding: 0;
  border-bottom: 1px solid #22bac1;
  text-decoration: none;
  display: inline-block;
  line-height: 0.95;
  outline: none;
}

.nav-phone__button:hover {
  cursor: pointer;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.main {
  /* background: url('../img/main/main.png') no-repeat center */
  padding-top: 114px;
  padding-bottom: 74px;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages {
  width: 520px;
}

.advantages__title {
  margin: 0;
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 35px;
  color: #fffafa;
}

.advantages__subtitle {
  margin: 0;
  font-size: 20px;
  margin-bottom: 66px;
  color: #fffafa;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-item__text {
  font-size: 15px;
  color: #fff;
  margin-bottom: 27px;
  max-width: 206px;
}

.advantages-item__text-1 {
  margin-bottom: 0px;
}

.advantages-item__img {
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* opacity: 0.2 */
  margin-right: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item__img-1 {
  background-image: url("../img/main/img-1.png");
  background-size: 10px;
}

.advantages-item__img-2 {
  background-image: url("../img/main/img-2.png");
  background-size: 16px;
}

.advantages-item__img-3 {
  background-image: url("../img/main/img-3.png");
  background-size: 17px;
}

.advantages-item__img-4 {
  background-image: url("../img/main/img-4.png");
  background-size: 19px;
}

.form {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 370px;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  color: #000000;
  font-size: 18px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 28px;
}

.form__input {
  width: 260px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  border: 1px solid #e8e8e8;
  color: #7c7c7c;
  font-size: 13px;
}

.form__button {
  width: 260px;
  background-color: #23bac1;
  padding: 26px 57px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.form__button:hover {
  background-color: #3bd4dc;
  cursor: pointer;
}

.bold_text {
  font-family: 'Proxima Nova Bold', sans-serif;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
}

.container {
  width: 1171px;
  margin: 0 auto;
}

.next_line {
  display: block;
}

header {
  background: url("../img/main/main.png") no-repeat center;
}

@media (max-width: 3000px) {
  .hidden-l {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  .hidden-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Proxima Nova Regular', sans-serif;
  }
  .hidden-l:before {
    content: url("../img/header/menu.png");
    margin-right: 17px;
  }
  .hidden-xs {
    display: none;
  }
  .nav {
    background-color: transparent;
  }
  .nav-phone__phone {
    color: #fff;
  }
  .nav-phone__button {
    background-color: transparent;
  }
  .advantages__title {
    font-size: 36px;
    line-height: 50px;
  }
  .form__input {
    width: 200px;
  }
  .form__button {
    width: 200px;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .nav-phone__button {
    width: 175px;
  }
  .main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__title {
    font-size: 34px;
    line-height: 40px;
  }
  .advantages__subtitle {
    font-size: 18px;
  }
  .form {
    width: 440px;
  }
  .form__title {
    font-size: 16px;
  }
  .form__input {
    width: 180px;
  }
  .form__button {
    width: 180px;
    font-size: 13px;
  }
}

@media (max-width: 768px) and (max-width: 576px) {
  .main-wrap {
    display: block;
  }
  .advantages {
    width: 300px;
    margin: auto;
  }
  .advantages__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .advantages__subtitle {
    margin-bottom: 30px;
  }
  .form {
    margin: auto;
    margin-top: 30px;
    width: 280px;
  }
  .form__title {
    font-size: 16px;
  }
  .form__input {
    width: 180px;
  }
  .form__button {
    width: 180px;
  }
  header {
    background: url("../img/main/main.png") no-repeat top;
    background-size: 1360px;
  }
  .nav-phone__phone {
    font-size: 15px;
  }
  .nav-phone__button {
    font-size: 12px;
    width: 150px;
  }
}
/*# sourceMappingURL=style.css.map */