.nav
  height: 55px
  background-color: #ffffff
  
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
    margin: auto
  &-menu
    display: flex
    width: 67%
    justify-content: space-between
    align-items: center
    +reg
    font-size: 14px
    text-decoration: underline

    /* Исправить подчеркивание на непрерывающееся */
    /* margin-top: 22px */
  &-phone
    margin-top: 12px
    display: flex
    flex-direction: column