@import 'mixins'
@import 'fonts'
@import 'nav'
@import 'menu'
@import 'main'
@import 'types'
@import 'projects'
@import 'goal'
@import 'clients'
@import 'footer'


body
  font-family: 'Proxima Nova Light', sans-serif
.container
  width: 1171px
  margin: 0 auto
/* .container-bcg
  width: 1920px
  margin: 0 auto */
.next_line
  display: block
header
  background: url('../img/main/main.png') no-repeat center 


@import 'media' 